@model VM
@{
    ViewData["Title"] = "Łączna kwota zamówień dla klienta o wskazanym identyfikatorze";
}
<h1>Łączna kwota zamówień dla klienta o wskazanym identyfikatorze</h1>
<h3>@Model.TotalValueOfOrders</h3>

