
@{
    ViewData["Title"] = "Średnia wartość zamówienia dla klienta o wskazanym identyfikatorze";
}
<h1>Średnia wartość zamówienia dla klienta o wskazanym identyfikatorze</h1>
<h3>@Model.AverageOrderValue</h3>

